* {
	list-style: none;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
header {
	background-color: #DF340B;
	background-size: cover;
	padding:15px 0;
	width:100%;
	color:#C4E0F3;
}

section {
	background: url('stocksnap.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	height: 960px;
}

.center {
	padding-top:100px;
	height:100px;
	width:100%;
	color:#F0F3D8;
}
button {
	border-radius: 5px;
	margin-left: 20px;
}
form {
	margin-bottom: 150px;
}
.list {
	color:#F0F3D8;
	font-size:20px;
	height:200px;
	width:100%;
	margin-bottom:50px;
}
.crossOut {
	text-decoration: line-through;
}
footer {
	color:#C4E0F3;
	padding:25px 0px;
	background-color: #C0BB3C;
	background-size: cover;
	height:50px;
	width: 100%;
}
